<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

            <meta charset='utf-8'>
                <meta http-equiv='X-UA-Compatible' content='IE=edge'>
                    <title>Billing-FrontLine</title>
                    <meta name='viewport' content='width=device-width, initial-scale=1'>

                        <link rel="icon" th:href="@{imgs/icon.jpg}"  >

                            <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

                            </head>

                            <body style="    overflow-x: hidden; /* Hide horizontal scrollbar */
                                  ">

                                <!--<label th:text="'Hello' + ${session.userName}"></label>-->




                                <div class="jumbotron" style="background-color: black;   height: 3px;
                                     ">

                                    <img th:src="@{imgs/logo.png}"
                                         alt="Vodafone Logo" style="    width: 23%;
                                         ">

                                </div>





                                <div class="form-row align-items-center d-flex justify-content-center">
                                    <div class="col-sm-6 my-1" >



                                        <table







                                            class="table table-sm  text-center ">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Co Id</th>
                                                    <th scope="col">SN Code</th>
                                                    <th scope="col">status</th>

                                                    <th>

                                                        <a class="btn btn-danger" th:href="@{home}" role="button">Go Back </a>

                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>


                                                <th:block th:each="content : ${consoleContentDeactivateService}" >

                                                    <tr>

                                                        <td th:text="${content.coId}">A Smoke Test'</td>
                                                        <td th:text="${content.snCode}">A Smoke Test'</td>
                                                        <td th:text="${content.Response}">A Smoke Test'</td>

                                                    </tr> 
                                                </th:block>




                                            </tbody>
                                        </table>


                                    </div>


                                </div>
































                                <!--____________________________________________Footer_______________________________________________________________-->
                                <div style="position: fixed;
                                     left: 0;
                                     bottom: 0;
                                     width: 100%;
                                     height: 31px;
                                     background-color:black;
                                     color:white;
                                     text-align: center;
                                     padding-top: 2px;
                                     font-size: x-small;">

                                    <p>© Copyright 2020 Vodafone Egypt , Automation team  , All rights reserved.</p>
                                </div>
                            </body>

                            </html>