<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="css/css.css" rel="stylesheet" id="bootstrap-css">
            <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
                <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">








                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                    crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                    crossorigin="anonymous"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                    crossorigin="anonymous"></script>

                    <meta charset='utf-8'>
                        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
                            <title>Billing-FrontLine</title>
                            <meta name='viewport' content='width=device-width, initial-scale=1'>

                                <link rel="icon" th:href="@{imgs/icon.jpg}"  >



























                                    <title>index</title>

                                    </head>
                                    <body>

                                        <div class="jumbotron" style="background-color: black;    height: 3px;
                                             ">

                                            <img th:src="@{imgs/logo.png}"
                                                 alt="Vodafone Logo">
                                        </div>







                                        <div class="row" >
                                            
                                            <div class="col-md-6 mx-auto p-0">
                                                <div class="card">
                                                    
<div class="alert alert-danger" role="alert"  th:if="${message != null}" th:text="${message}">
                                                                                    This is a danger alert—check it out!
                                                                                </div>
                                                    <div class="login-box">
                                                        <div class="login-snip"> 
                                                             
                                                            <form method="post" action="verify">
                                                                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label
                                                                        for="tab-1" class="tab">Login</label>
                                                                    <input id="tab-2" type="radio" name="tab"
                                                                           class="sign-up"><label for="tab-2" class="tab"></label>
                                                                        <div class="login-space">
                                                                            <div class="login">
                                                                                <div class="group"> <label for="user" class="label">Username</label> <input id="user"
                                                                                                                                                            type="text"  name="userName" class="input" required placeholder="Enter your username"> </div>
                                                                                <div class="group"> <label for="pass" class="label">Password</label> <input id="pass" name="passWord"
                                                                                                                                                            type="password" class="input" data-type="password" required
                                                                                                                                                            placeholder="Enter your password"> </div>
                                                                                <div class="group"> <input type="submit" class="button" value="Sign In"> </div>
                                                                                <div class="hr"></div>

                                                                               
                                                                            </div>

                                                                        </div>
                                                                        </form>
                                                                        </div>
                                                                        </div>
                                                                        </div>
                                                                        </div>
                                                                        </div>
                                                                        <div style="position: fixed;
                                                                             left: 0;
                                                                             bottom: 0;
                                                                             width: 100%;
                                                                             height: 31px;
                                                                             background-color:black;
                                                                             color:white;
                                                                             text-align: center;
                                                                             padding-top: 2px;
                                                                             font-size: x-small;">


                                                                            <p>© Copyright 2020 Vodafone Egypt , Automation team  , All rights reserved.</p>
                                                                        </div>
                                                                        </body>

                                                                        </html>